@import '../../scss/colors.scss';
@import '../../scss/fonts.scss';
@import '../../scss/devices.scss';

.GoogleSignInOut{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 1rem 0;
    align-items: center;
    justify-items: center;



.GoogleSignIn{
    margin: 1rem 1rem;
            width: 6rem;
            height: 4rem;
            color: white;
            border: black;
            border-radius: .2rem;

      background-color: $choiceg;

      box-shadow:         3px 3px 5px 6px #ccc;
            
        //     background: rgb(16,176,219);
        // background: linear-gradient(90deg, rgba(16,176,219,1) 25%, rgba(0,194,240,1) 50%, rgba(76,255,68,1) 100%);
        
}


.GoogleSignIn:hover{
      
    background-color: black;
    cursor: pointer

}
.GoogleSignOut{
    margin: 1rem 1rem;
    width: 6rem;
    height: 4rem;
    color: white;
    border: black;
    border-radius: .2rem;

    background-color: $choiceb;

    box-shadow:         3px 3px 5px 6px #ccc;
    
//     background: rgb(16,176,219);
// background: linear-gradient(90deg, rgba(16,176,219,1) 25%, rgba(0,194,240,1) 50%, rgba(76,255,68,1) 100%);

}

.GoogleSignOut:hover{
      
    background-color: black;
    cursor: pointer

}
}