@import '../../../../scss/colors.scss';
@import '../../../../scss/fonts.scss';
@import '../../../../scss/devices.scss';


.StationSequence{
   display: grid;
   grid-template-columns: repeat(4, 25%);
   grid-template-rows: repeat(auto, 16rem);
   background-color: $colorgrey;
color: black;
   font-size: .7rem;


   box-shadow:         3px 3px 5px 6px #ccc;

//    height: 100%;
//    width: 100%;

.SequenceSlide{
    margin: .5rem .5rem;
    display: grid;
    align-items: center;
    justify-items: center;
    .Icon{
        height: 4rem;
        width: auto;
    }
}

}



@include desktop {


}
