//PRIMARY COLORS
$color-primary: #ffffff;

//EXTRA
//$color-extra: ;

//COLORS FOR THE STATION
$color-black: #000000;
$color-white: #ffffff;

$color-green: #52df52;
$miletwogreen: #016848;
$miletwoblue: #0080D0;
$color-lightblue: #00e6ff;
$color-darkblue: #253df6;
$color-purple: #6000ff;
$scienceblue: #00c2f0;
$sciencegreen: #05ed55;
$sciencered: #ff1111;
$sciencep: #a848eb;
$darkblue: #10b0db;
$sciencey: #ffef1d;
$color-orange: #ff8600;
$color-red: #ff0707;
$colorgrey: #f1f1f1;
$color-yellow: #faf10d;
$choicep: #cb6ce6;
$choiceg: #7ed957;
$choicer:#ff5757;
$choiceb: #00ccff;


//background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(39,242,0,1) 0%, rgba(0,230,255,1) 100%);
