@import url('https://fonts.googleapis.com/css?family=Changa|Liu+Jian+Mao+Cao|Orbitron|Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Josefin+Slab&family=Poiret+One&display=swap');

@font-face {
  font-family: 'Zero Nero';
  font-style: normal;
  font-weight: 400;
  src: local('Zero Nero'), local('Zero Nero'),
    url('./zeronero.ttf') format('truetype'); /* Safari, Android, iOS */
}
